<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.touristguide">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Elementi"
            android:parentActivityName=".Objects"></activity>
        <activity android:name=".Hotels" />
        <activity android:name=".FullScreenActivity" />
        <activity android:name=".Restaurants" />
        <activity android:name=".LidhjaPrizrenit" />
        <activity android:name=".Rugova" />
        <activity android:name=".Batllava" />
        <activity android:name=".Objects" />
        <activity android:name=".Nature" />
        <activity android:name=".Germia" />
        <activity android:name=".Biblioteka" />
        <activity android:name=".Muzeu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>